.searchbar form {
  display: flex;
  justify-content: end;
}
.searchbar input {
  margin-left: 10px;
}

@media screen and (min-width: 1700px) {
  .searchbar input {
    font-size: 2rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .searchbar input {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .searchbar input {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 320px) {
  .searchbar {
    font-size: 12px;
    max-width: 30%;
  }
  .searchbar input {
    padding: 6px 4px;
  }
}