
@media screen and (min-width: 1800px) {
  .card h3 {
    font-size: 3rem;
  }
  .card p {
    font-size: 2rem !important;
  }
  .recipe-list .cook-this {
    width: 200px;
    font-size: 2rem;
  }
}


@media screen and (min-width: 1500px) {
  .recipe-list {
    margin: auto 2rem;
  }
}
@media screen and (max-width: 1440px) {
  .recipe-list {
    margin: auto 2rem;
  }
  .recipe-list .cook-this {
    width: 120px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 2rem;
  }
  
  
}

@media screen and (max-width: 768px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 1rem;
  }
}

@media screen and (max-width: 600px) {
  .recipe-list {
    grid-template-columns: repeat(1, 1fr);
    margin: auto 1rem;
  }
}

@media screen and (max-width: 375px) {
  .recipe-list {
    margin: auto 0.5rem;
  }
}
@media screen and (min-width: 320px) {
  .deleteIcon {
    width: 3rem;
  }
}

